{{#> common_layout
  pageTitle='Home'
}}
  {{#*inline "head"}}

  {{/inline}}

  {{#*inline "preBody"}}

  {{/inline}}

  {{#*inline "content"}}
    <h1>Hello world!</h1>
  {{/inline}}

  {{#*inline "postBody"}}

  {{/inline}}
{{/common_layout}}
