<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pageTitle}} — My App</title>

  {{> head}}
</head>
<body>
{{> preBody}}

<div class="container">
  {{> content}}
</div>

{{> postBody}}
</body>
</html>
